*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
 
}

h1{
  text-align: center;
  padding-bottom:10px;
  color:white;
  background-color:rgb(52, 50, 50);
  
}

.main{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  background-color: rgb(52, 50, 50);
  
}
.movieContainer{
  border:2px solid;
  width:250px;
  height:320px;
  display:flex;
  flex-direction:column;
  background-color: rgb(85, 132, 141);

  border-radius: 16px;
  margin:8px;
}
.movieContainer img{
  width:248px;
  height:200px;
  border-radius: 16px;

}

.movieName{
  color:white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
 
  text-align: center;
}

.rating{
  color:blue;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.btn{
  display:flex;
  justify-content: center;
}

.btn button{
  width:100px;
  height:20px;
  margin-inline: auto;
  margin-top: 4px;
  border-radius: 4px;
  border:none;
  color:blue;
  cursor:pointer;
}

button:active{
  background-color:greenyellow;
  color:red;
}